<h2>Search Customers</h2>
<form action="/customers" method="GET">
    <label>Name</label>
    <input type="text" name="lastName" value="<%= searchOptions.lastName %> ">
    <button type="submit">Search</button>
</form>
<br>
<% for(let i = 0; i < customers.length; i++) { %>
     <div>
        <%= customers[i].cardNumber %>
        <%= customers[i].lastName %>
        <%= customers[i].firstName %>
        <%= customers[i].dateOfBirth %>
    </div>
<% } %>