<h2 class="page-header">Search Products</h2>
<form action="/products" method="GET">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %> ">
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div> 
</form>
<br>

<table class="styled-table centered-container">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Warranty</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < products.length; i++) { %>
            <div>
                <tr>
                    <td> <%= products[i].productId %> </td>
                    <td> <%= products[i].name %> </td>
                    <td> <%= products[i].warranty %> </td>
                    <td> <%= products[i].stock %> </td>
                    <td> <%= products[i].price %> </td>
                </tr>
            </div>
        <% } %>
    </tbody>
</table>