<h2 class="page-header">New Product</h2>
<form action="/products" method="POST">

    <div class="form-item">
        <label>Product ID</label>
    <input type="text" name="productId" value="<%= product.productId %>">
    </div>
    <div class="form-item">
        <label>Product Name</label>
    <input type="text" name="name" value="<%= product.name %>">
    </div>
    <div class="form-item">
        <label>Warranty</label>
    <input type="text" name="warranty" value="<%= product.warranty %>">
    </div>
    <div class="form-item">
        <label>Stock</label>
    <input type="text" name="stock" value="<%= product.stock %>">
    </div>
    <div class="form-item">
        <label>Price</label>
    <input type="text" name="price" value="<%= product.price %>">
    </div>
    
    <div class="form-row form-row-end">
        <a class="btn btn-danger" href="/products">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>